<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Human Brain Model with EEG Channels</title>
    <style>
        body { margin: 0; }
        canvas { width: 100%; height: 100%; display: block; }
    </style>
</head>
<body>
    
    <script type="module">
        import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.135.0/build/three.module.js';
        import { OrbitControls } from 'https://threejsfundamentals.org/threejs/resources/threejs/r122/examples/jsm/controls/OrbitControls.js';
        import { GLTFLoader } from 'https://threejsfundamentals.org/threejs/resources/threejs/r122/examples/jsm/loaders/GLTFLoader.js';

        let scene, camera, renderer, controls;

        function init() {
            scene = new THREE.Scene();
            camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
            renderer = new THREE.WebGLRenderer({ antialias: true });
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize(window.innerWidth, window.innerHeight);
            renderer.setClearColor(0xffffff);  // Set background color to white
            document.body.appendChild(renderer.domElement);

            controls = new OrbitControls(camera, renderer.domElement);
            controls.enableDamping = true;

            const ambientLight = new THREE.AmbientLight(0xFFD8C0);
            const directionalLight = new THREE.DirectionalLight(0xffffff, 1);
            directionalLight.position.set(0, 1, 0);
            scene.add(ambientLight);
            scene.add(directionalLight);

            // Load a GLTF model
            const loader = new GLTFLoader();
            loader.load(
                '/static/img/head.gltf',
                function (gltf) {
                    gltf.scene.traverse((child) => {
                if (child.isMesh) {
                    console.log(child.material); // Log the material to check its properties
                    child.material = new THREE.MeshStandardMaterial({ color: 0x555555 });
                }
            });
                    scene.add(gltf.scene);
                    gltf.scene.scale.set(10, 10, 10); // Adjust scale if necessary
                },
                undefined,
                function (error) {
                    console.error('An error happened during loading the model:', error);
                }
            );

            camera.position.z = 5;
        }

        function animate() {
            requestAnimationFrame(animate);
            controls.update(); // only required if controls.enableDamping = true, or if controls.autoRotate = true
            renderer.render(scene, camera);
        }

        init();
        animate();
    </script>
</body>
</html>