<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EEG Hub - EEG Analysis Website</title>

    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="/static/lib/twentytwenty/twentytwenty.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
        html, body {
            height: 120%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .content-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 100%; /* Adjust as per your layout requirements */
        }
        h1 {
            color: #333;
        }
        .container {
            width: 100%;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            margin-top: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #e9ecef;
            margin-bottom: 8px;
            padding: 10px;
            border-radius: 4px;
        }
        .no-steps {
            color: #6c757d;
        }
        #stepsContainer {
            display: none;
        }
        #toggleButton {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        #extractFeaturesButton {
            display: none; /* Initially hide the Extract CSP Features button */
            margin-top: 10px;
            padding: 10px 25px;
            background-color: #28a745; /* A green shade for success actions */
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px; /* Larger font size for better readability */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* A subtle shadow for depth */
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
        }

        #extractFeaturesButton:hover {
            background-color: #218838; /* A slightly darker green on hover for feedback */
        }

        #extractFeaturesButton:active {
            background-color: #1e7e34; /* Even darker on click to simulate a press */
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Inner shadow to simulate depth */
        }

        /* Disabled state for the button */
        #extractFeaturesButton:disabled {
            background-color: #94d3a2;
            cursor: not-allowed;
        }
    
        .message-box {
            margin-top: 3rem;
            padding: 1rem;
            background-color: #dff0d8; /* Lighter green background */
            color: #515d9c; /* Dark green text that's easy on the eyes */
            border: 1px solid #ececec; /* Subtle border color */
            border-radius: 0.25rem;
            text-align: left;
        }
        .footer-container {
            width: 100%;
        }
    </style>
</head>
<body>

    <div class="content-wrapper">


        <!-- Topbar Start -->
        <div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
           <div class="row gx-0">
               <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                   <div class="d-inline-flex align-items-center">
                       <small class="py-2"><i class="far fa-clock text-primary me-2"></i>Opening Hours: Mon - Tues : 6.00 am - 10.00 pm, Sunday Closed </small>
                   </div>
               </div>
               <div class="col-md-6 text-center text-lg-end">
                   <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                       <div class="me-3 pe-3 border-end py-2">
                           <p class="m-0"><i class="fa fa-envelope-open me-2"></i>info@eeghub.com</p>
                       </div>
                       <div class="py-2">
                           <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- Topbar End -->
   
   
       <!-- Navbar Start -->
       <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0" style="width: 100%;">
           <a href="index.html" class="navbar-brand p-0">
               <h1 class="m-0 text-primary"><i class="fa fa-tooth me-2"></i>EEG Hub</h1>
           </a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarCollapse">
               <div class="navbar-nav ms-auto py-0">
                   <a href="index" class="nav-item nav-link">Home</a>
                   <a href="about" class="nav-item nav-link">About</a>
                   <a href="service" class="nav-item nav-link active">Service</a>
                   <a href="contact" class="nav-item nav-link">Contact</a>
               </div>
               <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
               <a href="appointment" class="btn btn-primary py-2 px-4 ms-3">Upload Your EEG Data</a>
           </div>
       </nav>
       <!-- Navbar End -->

    <div class="container" style="width: 100%;">
        <h1>Welcome to the EEG Data Analysis Portal</h1>
        <p class="lead mt-4">
            This platform is dedicated to the analysis of MAT files, which contain raw EEG data. Raw data 
            from EEG recordings often include noise and artifacts that need to be carefully processed before 
            any meaningful analysis can be performed. Our comprehensive workflow includes preprocessing steps 
            to remove these unwanted signals, feature extraction to identify the characteristics most relevant 
            to your study, and the application of machine learning models for data classification.
        </p>
        <p class="mb-4">
            We will proceed step by step, starting with the crucial preprocessing of your EEG data. When you're 
            ready to begin, please click the button below to initiate the preprocessing stage.
        </p>

        <div class="text-center" style="margin-top: 2rem; margin-left: auto; margin-right: auto; width: fit-content;">
            <button id="toggleButton" class="btn btn-primary my-2 mr-2" onclick="toggleStepsContainer()">View Process Data</button>
            <!-- Spinner element (hidden by default) -->
        <div id="loadingSpinner" class="text-center" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="stepsContainer">
            <h2>Preprocessing Steps:</h2>
            <ul id="stepsList"></ul>
            <p id="noSteps" class="no-steps">No preprocessing steps available.</p>
        </div>
            <button id="extractFeaturesButton" class="btn btn-success my-2 mr-2" onclick="extractFeatures()" style="display: none;">Extract CSP Features</button>
            <div id="loadingSpinner1" class="text-center" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div id="cspFeaturesContainer" class="card mt-4" style="display: none;">
                        <div class="card-header bg-primary text-white">
                            <h2 class="card-title">CSP Features</h2>
                        </div>
                        <div class="card-body">
                            <p id="successMessage"></p>
                            <ul id="featuresList" class="list-group list-group-flush">
                                <!-- Feature list items will be inserted here -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        <div id="modelSelectionContainer" class="mt-4" style="display: none; width: 25%; margin-left: auto; margin-right: auto;">
            <form>
                <div class="form-group">
                    <label for="modelSelect">Choose a model:</label>
                    <select id="modelSelect" class="form-control">
                        <option value="">Select Model</option>
                        <option value="svc">SVC Model</option>
                        <option value="random">Random Forest Model</option>
                        <option value="logistic">Logistic Regression Model</option>
                        <option value="knn">KNN Model</option>
                        <option value="cnn">CNN Model</option>
                    </select>
                </div>
                <div class="mt-3 d-grid gap-2">
                    <button id="fetchAccuracyButton" class="btn btn-info" type="button" onclick="fetchModelAccuracy()">Get Accuracy</button>
                </div>
            </form>
            <div id="accuracyContainer" class="mt-4" style="display: none;">
                <ul id="accuracyList" class="list-group"></ul>
            </div>
        </div>
    <div id="alertBox" class="alert" style="display:none;"></div> <!-- Make sure this element exists -->




<!-- Add this below the CSP Features container in mat_files_class.html -->

    </div>

    </div>

    <div class="footer-container">
        <div class="container-fluid text-light py-4" style="background: #051225; ">
            <div class="container1">
                <div class="row g-0">
                    <div class="col-md-6 text-center text-md-start">
                        <p class="mb-md-0">&copy; <a class="text-white border-bottom" href="#">EEG Hub 2024</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var loadingStatus = sessionStorage.getItem('loadingStatus');

        if (loadingStatus === 'started') {
            // Display the initial loading message
            var alertBox = document.getElementById('alertBox');
            alertBox.textContent = sessionStorage.getItem('loadingMessage');
            alertBox.style.display = 'block';

            // Wait for 10 seconds before updating the message
            setTimeout(function() {
                alertBox.textContent = 'Data loaded. You can now Reprocess and choose a model.';

                // Wait for an additional 2 seconds before removing the alert
                setTimeout(function() {
                    alertBox.style.display = 'none'; // Hide the alert box
                    // Clear the session storage flags
                    sessionStorage.removeItem('loadingStatus');
                    sessionStorage.removeItem('loadingMessage');
                }, 5000); // 5000 milliseconds = 5 seconds

            }, 20000); // 20000 milliseconds = 20 seconds
        }
    });

    var preprocessingStepsFetched = false;
    var modelingPerformed = false;
    var fetchedPreprocessingSteps = [];

    function toggleStepsContainer() {
        var stepsContainer = document.getElementById('stepsContainer');
        var toggleButton = document.getElementById('toggleButton');
        var spinner = document.getElementById('loadingSpinner');

        if (!preprocessingStepsFetched) {
            // Show spinner only and fetch data
            spinner.classList.remove('d-none');
            fetchPreprocessingSteps();
        } else {
            // Toggle visibility of steps container
            if (stepsContainer.style.display === 'none') {
                stepsContainer.style.display = 'block';
                toggleButton.textContent = 'Hide Process Data';
            } else {
                stepsContainer.style.display = 'none';
                toggleButton.textContent = 'View Process Data';
            }
        }
}
    

function fetchPreprocessingSteps() {
    var stepsList = document.getElementById('stepsList');
    var noSteps = document.getElementById('noSteps');
    var toggleButton = document.getElementById('toggleButton');
    var spinner = document.getElementById('loadingSpinner');

    // Clear existing list
    stepsList.innerHTML = '';
    noSteps.style.display = 'none';
    spinner.style.display = 'block';

    // AJAX call to the server to fetch preprocessing steps
    fetch('{{ url_for("file_reader.mat_classification") }}', {
        method: 'POST',
    }).then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    }).then(data => {
        spinner.classList.add('d-none');// Hide spinner
        if (data.error) {
            console.error('Server error:', data.error);
            stepsList.innerHTML = '<li>Error fetching steps</li>';
        } else {
            if (data.preprocessing_steps && data.preprocessing_steps.length > 0) {
                fetchedPreprocessingSteps = data.preprocessing_steps;
                preprocessingStepsFetched = true;
                displayPreprocessingSteps();
                // Show the Extract CSP Features button
                document.getElementById('extractFeaturesButton').style.display = 'block';
                // Now show the steps container
                stepsContainer.style.display = 'block';
                toggleButton.textContent = 'Hide Process Data';
            } else {
                noSteps.style.display = 'block';
            }
        }
    }).catch(error => {
        console.error('Error:', error);
        spinner.classList.add('d-none'); // Hide spinner on error
        stepsList.innerHTML = '<li>Error fetching steps</li>';
    });
}


function displayPreprocessingSteps() {
    var stepsList = document.getElementById('stepsList');
    stepsList.innerHTML = '';
    fetchedPreprocessingSteps.forEach(function(step) {
        var li = document.createElement('li');
        li.textContent = step;
        li.className = 'list-group-item'; // Bootstrap class for list items
        stepsList.appendChild(li);
    });
}

function extractFeatures() {
    var cspFeaturesContainer = document.getElementById('cspFeaturesContainer');
    var extractFeaturesButton = document.getElementById('extractFeaturesButton');
    var spinner = document.getElementById('loadingSpinner1');

    // Only fetch features and perform modeling if it hasn't been done already
    if (!modelingPerformed) {
        // Show spinner while fetching
        spinner.style.display = 'block';
        fetchCSPFeatures();
    } else {
        // Toggle visibility of features container
        cspFeaturesContainer.style.display = cspFeaturesContainer.style.display === 'none' ? 'block' : 'none';
        extractFeaturesButton.textContent = cspFeaturesContainer.style.display === 'none' ? 'View Extract Features' : 'Unview Extract Features';
    }
}

function fetchCSPFeatures() {
    fetch('{{ url_for("file_reader.extract_csp_features") }}', {
        method: 'POST',
    }).then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    }).then(data => {
        console.log("entered fetch csp")
        var spinner = document.getElementById('loadingSpinner1'); // Get the spinner element
        spinner.style.display = 'none'; // Hide spinner after fetching

        if (data.message) {
            console.log("entered if fetch csp")
            displaySuccessMessage(data.message); // Display the message from the server
            document.getElementById('modelSelectionContainer').style.display = 'block';
            document.getElementById('cspFeaturesContainer').style.display = 'block';
            document.getElementById('extractFeaturesButton').textContent = 'Unview Extract Features';
            modelingPerformed = true; // Set flag to indicate modeling has been performed
        } else {
            displayErrorMessage('No message received from server.');
        }
    }).catch(error => {
        console.error('Error:', error);
        displayErrorMessage('Error extracting features.');
    });
}



function displayLoadingAccuracy() {
    var accuracyContainer = document.getElementById('accuracyContainer');
    var accuracyList = document.getElementById('accuracyList');
    accuracyContainer.style.display = 'block';
    accuracyList.innerHTML = ''; // Clear previous results
    var loadingMessage = document.createElement('li');
    loadingMessage.textContent = 'Calculating accuracy, please wait...';
    loadingMessage.className = 'list-group-item';
    accuracyList.appendChild(loadingMessage);
}

function displayAccuracyResults(accuracyData) {
    var accuracyContainer = document.getElementById('accuracyContainer');
    var accuracyList = document.getElementById('accuracyList');

    // Clear previous results and set the container to display
    accuracyList.innerHTML = '';
    accuracyContainer.style.display = 'block';

    // Create a list item for each accuracy message and append it to the list
    accuracyData.forEach(function(accuracyMessage) {
        var li = document.createElement('li');
        li.className = 'list-group-item';
        li.textContent = accuracyMessage; // Set text content for text-only data
        accuracyList.appendChild(li);
    });

    // Create and append the "Predict" button
    var predictButton = document.createElement('button');
    predictButton.id = 'predictButton';
    predictButton.className = 'btn btn-warning my-2';
    predictButton.textContent = 'Predict';
    predictButton.onclick = function() { redirectToPredictPage(); };
    accuracyContainer.appendChild(predictButton);

    // Create and append the "Toggle Accuracy Results" button
    var toggleAccuracyButton = document.createElement('button');
    toggleAccuracyButton.id = 'toggleAccuracyButton';
    toggleAccuracyButton.className = 'btn btn-info my-2';
    toggleAccuracyButton.textContent = 'Hide Accuracy Results';
    toggleAccuracyButton.onclick = function() { toggleAccuracyContainer(); };
    accuracyContainer.appendChild(toggleAccuracyButton);
}

function toggleAccuracyContainer() {
    var accuracyContainer = document.getElementById('accuracyContainer');
    var toggleButton = document.getElementById('toggleAccuracyButton');
    if (accuracyContainer.style.display === 'none') {
        accuracyContainer.style.display = 'block';
        toggleButton.textContent = 'Hide Accuracy Results';
    } else {
        accuracyContainer.style.display = 'none';
        toggleButton.textContent = 'View Accuracy Results';
    }
}


function displaySuccessMessage(message) {
    // Ensure the CSP features container is visible
    var cspFeaturesContainer = document.getElementById('cspFeaturesContainer');
    cspFeaturesContainer.style.display = 'block';

    // Split the message into lines, assuming each feature is on a new line
    var features = message.split('\n');

    // Find the successMessage element and the featuresList UL
    var successMessage = document.getElementById('successMessage');
    var featuresList = document.getElementById('featuresList');

    // The first line is the introduction sentence, set it as the successMessage text
    successMessage.textContent = features[0];

    // Clear previous features
    featuresList.innerHTML = '';

    // Start the loop at 1 to skip the introduction sentence
    for (var i = 1; i < features.length; i++) {
        var li = document.createElement('li');
        li.className = 'list-group-item';
        li.textContent = features[i];
        featuresList.appendChild(li);
    }
}

    function displayErrorMessage(message) {
        var errorMessage = document.getElementById('successMessage');
        errorMessage.innerHTML = '<div class="mt-3 p-3 bg-danger text-white rounded">' + message + '</div>';
    }

    function toggleAccuracyContainer() {
        var accuracyContainer = document.getElementById('accuracyContainer');
        var toggleAccuracyButton = document.getElementById('toggleAccuracyButton');

        // Check the current display state and toggle it
        if (accuracyContainer.style.display === 'none' || accuracyContainer.style.display === '') {
            accuracyContainer.style.display = 'block';
            toggleAccuracyButton.textContent = 'Hide Accuracy Results';
        } else {
            accuracyContainer.style.display = 'none';
            toggleAccuracyButton.textContent = 'View Accuracy Results';
        }
    }

    function fetchModelAccuracy() {
    var modelSelect = document.getElementById('modelSelect');
    var model = modelSelect.value;
    var url = '';

    
    if (!model) {
        displayErrorMessage('Please select a model.');
        return;
    }
    // Determine which URL to use based on the selected model
    if (model === 'svc') {
        url = '{{ url_for("file_reader.perform_mat_modeling_svc") }}';
    } else if (model === 'random') {
        url = '{{ url_for("file_reader.perform_mat_modeling_random") }}';
    } else if (model === 'logistic') {
        url = '{{ url_for("file_reader.perform_mat_modeling_logistic") }}';
    }else if (model === 'knn') {
        url = '{{ url_for("file_reader.perform_mat_modeling_knn") }}';
    }else if (model === 'cnn') {
        url = '{{ url_for("file_reader.perform_mat_modeling_cnn") }}';
    }
    

    // Fetch the accuracy results for the selected model
    fetch(url, {
        method: 'POST',
    }).then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    }).then(data => {
        if (data.accuracy) {
            displayAccuracyResults(data.accuracy);
        } else {
            displayErrorMessage('No accuracy results received from server.');
        }
    }).catch(error => {
        console.error('Error:', error);
        displayErrorMessage('Error fetching accuracy results.');
    });
}

function redirectToPredictPage() {
    var modelSelect = document.getElementById('modelSelect');
    var selectedModel = modelSelect.value;
    if (selectedModel) {
        window.location.href = '{{ url_for("mat_predict") }}?model=' + encodeURIComponent(selectedModel);
    } else {
        // Handle the case where no model is selected before redirecting
        displayErrorMessage('Please select a model.');
    }
}

   
</script>
</body>
</html>
